*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Custom settings (bad practice, should be some properties file application.conf and custom overrides in custom.conf)
src/main/CustomKonstanty.java
bin/