{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}hlavná stránka{% endblock %}</title>
<link rel="stylesheet" href="{% static  'paleblue2/css/screen.css' %} ">
<link rel="stylesheet" href="{% static  'base.css' %} ">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />
<meta charset="UTF-8">
</head>
<body>
<div class="wrapper">
<header>
<nav>
<ul class="menu">
<li><a href="index" id="homenav">Hlavná stránka</a></li>
<li><a href="klub" id="klubnav">Kluby</a></li>
<li><a href="hraci" id="hracnav">Hráči</a></li>
<li><a href="turnaj" id="turnajnav">Turnaje</a></li>
<li><a href="zapas" id="zapasnav">Zápasy</a></li>
<li><a href="tim" id="timnav">Timy</a></li>
<li><a href="admin">Prihlasenie</a></li>
</ul>
</nav>
</header>
<div class="obsah">
{% block content %}
<h1>Vitajte v outsiterz.org</h1>
<h2>pokračujte výberom z navigácie</h2>
{% endblock %}
</div>
<!--<footer>
footer
</footer> -->
</div>
</body>
</html>